<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cooventure"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.example.cooventure.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.cooventure.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.cooventure.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.cooventure.DetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.cooventure.MineActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.example.cooventure.MainActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.example.cooventure.NewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.cooventure.ModifyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.cooventure.OtherActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>